:root{
    --sidebar-accent: #F8F8F8;
    --sidebar-title: #f8f8f8;
    --sidebar-text: #F8F8F8B2;

    --sidebar--enem-hover: #7DC385;
    --sidebar--enem-bg: linear-gradient(135deg, #4CAF50 0%, #4CAF79 100%);

    --sidebar--fatec-hover: #D97A7A;
    --sidebar--fatec-bg: linear-gradient(159deg, #D65B5B 0.67%, #E06E70 99.28%);

    --sidebar--fuvest-hover: #E9B765;
    --sidebar--fuvest-bg: linear-gradient(159deg, #E99117 40.97%, #E27515 99.28%);

    --sidebar--unesp-hover: #F3D37B;
    --sidebar--unesp-bg: linear-gradient(159deg, #E5B000 40.97%, #EFC84A 99.28%);

    --sidebar--unicamp-hover: #8976AD;
    --sidebar--unicamp-bg: linear-gradient(159deg, #BE87E8 40.97%, #7B5ECD 99.28%);

    --sidebar--provao-hover: #79AFE5;
    --sidebar--provao-bg: linear-gradient(159deg, #0573E1 27.69%, #174370 93.12%);

}
.sidebar{
  width: 300px;
  padding: 1rem;
  top: 100px;
  overflow-y: auto;
  overflow: hidden;
  border-radius: 10px;
  font-family: Gabarito;
  position: sticky;
  position: -webkit-sticky;
  transition: width 0.35s ease; 

}
.sidebar__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .75rem .25rem 1rem;
  gap: 8px;
}

.sidebar__title{
  font-size:32px;
  font-weight:700;
  letter-spacing:.5px;
  text-transform:uppercase;
  color: var(--sidebar-title);
  transition: transform .25s ease, opacity .2s ease, font-size .2s;
  white-space: nowrap;
}

.sidebar__link{
  display: flex;
  align-items: center;
  gap: 12px;
  display: block;
  border-radius: 8px;
  padding: .6rem .9rem;
  transition: background .15s ease, transform .15s ease;
  background-color: transparent; 
}

.sidebar__link:hover{
  transform: translateX(3px);
}

.sidebar__item{
  border-radius: 8px;
}

.sidebar__item a{
   text-decoration: none;
   font-size: 20px;
   color: var(--sidebar-text);

}

.sidebar__menu-btn{
  background:transparent;
  border:0;
  font-size:1.25rem;
  color:var(--sidebar-title);
  line-height:1;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  width:36px;
  height:36px;
}

.sidebar__separator{
  height:1px;
  background:rgba(255,255,255,.35);
  margin: .25rem 0 1rem;
  border-radius:999px;
  margin-top:0;
}
.sidebar__list {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
  
}

/* barra lateral compactada */
.sidebar.collapsed {
  width: 70px; 
  transition: width 0.35s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.sidebar.collapsed .sidebar__header{
  flex-direction: column;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.sidebar.collapsed .sidebar__title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    transition: all 0.5s ease;
}

.sidebar.collapsed .sidebar__item{
  justify-items: center;
  padding-top: 1px;
}

.sidebar.collapsed .sidebar__item a {
  font-size: 0; /* esconde texto */
}

.sidebar.collapsed .sidebar__item i {
  font-size: 20px;
}

/* barra lateral cada vestibular */
/* ENEM */
.sidebar--enem{
  background: var(--sidebar--enem-bg);
}
.sidebar--enem .sidebar__item :hover{
    color: var(--sidebar-accent);
    background: var(--sidebar--enem-hover);
}
.sidebar--enem .sidebar__item--active .sidebar__link {
  background: var(--sidebar--enem-hover);
  color: var(--sidebar-accent);
}


/* FATEC */
.sidebar--fatec{
  background:var(--sidebar--fatec-bg);
}
.sidebar--fatec .sidebar__item :hover{
    color: var(--sidebar-accent);
    background:var(--sidebar--fatec-hover);
}
.sidebar--fatec .sidebar__item--active .sidebar__link {
  background: var(--sidebar--fatec-hover);
  color: var(--sidebar-accent);
}

/* FUVEST */
.sidebar--fuvest{
  background:var(--sidebar--fuvest-bg);
}
.sidebar--fuvest .sidebar__item :hover{
    color: var(--sidebar-accent);
    background:var(--sidebar--fuvest-hover);
}
.sidebar--fuvest .sidebar__item--active .sidebar__link {
  background: var(--sidebar--fuvest-hover);
  color: var(--sidebar-accent);
}

/* UNESP */
.sidebar--unesp{
  background:var(--sidebar--unesp-bg);
}
.sidebar--unesp .sidebar__item :hover{
    color: var(--sidebar-accent);
    background:var(--sidebar--unesp-hover);
}
.sidebar--unesp .sidebar__item--active .sidebar__link {
  background: var(--sidebar--unesp-hover);
  color: var(--sidebar-accent);
}

/* UNICAMP */
.sidebar--unicamp{
  background:var(--sidebar--unicamp-bg);
}
.sidebar--unicamp .sidebar__item :hover{
    color: var(--sidebar-accent);
    background:var(--sidebar--unicamp-hover);
}
.sidebar--unicamp .sidebar__item--active .sidebar__link {
  background: var(--sidebar--unicamp-hover);
  color: var(--sidebar-accent);
}

/* PROVAO PAULISTA */
.sidebar--provao{
  background:var(--sidebar--provao-bg);
}
.sidebar--provao .sidebar__item :hover{
    color: var(--sidebar-accent);
    background:var(--sidebar--provao-hover);
}
.sidebar--provao .sidebar__item--active .sidebar__link {
  background: var(--sidebar--provao-hover);
  color: var(--sidebar-accent);
}
.sidebar--provao .sidebar__title{
  white-space: normal;
}