@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: Gabarito, Arial;
  background-color: #D9DEE0;
}

.page-title {
  text-align: center;
  margin-bottom: 26px;
  color: #025BB3;
  font-size: 40px;
}

.cards-rows {
  display: flex;
  justify-content: center;
  gap: 278px;
  margin-bottom: 25px;
}
  
.card-cont {
  background: #F8F8F8;
  padding: 20px;
  border-radius: 10px;
  width: 407px;
  height: 174px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  position: relative;
  justify-content: space-between;
}

.card-cont h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #141414;
}

.card-cont .number {
  margin-left: 20px;
  font-size: 64px;
  font-weight: bold;
}

.card-icon {
  position: absolute;
  top: 23px;
  right: 15px;
  color: #141414;
  font-size: 18px;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  background: #F8F8F8; /* mais escuro que os tabs ativos */
  border-radius: 10px;
  padding: 5px;
  gap: 6px;
  font-size: 20px;
}

/* Estilo base das abas */
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0px 20px;
  border-radius: 10px;
  color: #1a1a1a;
  text-decoration: none;
  transition: 0.2s;
  width: 100vh;
}

.tab.active {
  background: #ffffff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.345);

}

.tab:not(.active):hover{
  background: #efefeffe;
}

.content-box {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 20px;
}

.header p {
  margin: 2px 0 0;
  font-size: 14px;
  color: #555;
}

.btn-new {
  margin-right: 10px;
  margin-bottom: 20px;
  background: #3787D8;
  color: #fff;
  border: none;
  padding-left: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: 0.2s;
}

.btn-new:hover {
  background: #1d4ed8;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 12px;
  padding-top: 0;
}

.card-left {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}


.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fde68a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #ca8a04;
}

.info h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.info p {
  margin: 2px 0;
  font-size: 13px;
  color: #555;
}

.card-right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 8%;
  height: 8%;
  margin-bottom: 8px;
}

.btn-icon {
  background: none;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-icon:hover {
  background: #f3f4f6;
}

.btn-icon.delete {
  color: #dc2626;
  border-color: #dc2626;
}

.btn-icon.edit {
  color: #2563eb;
  border-color: #2563eb;
}
