:root{
    --cor-principal-unicamp: #BE87E8;
    --cor-secundaria-unicamp: #efdcfd;
    --cor-destaque-unicamp: #8c29d8;
}
.titulo--unicamp i{
    color: var(--cor-principal-unicamp);
}

.painel-lateral .card ul li:hover{
  background-color: var(--cor-secundaria-unicamp);
  color: var(--cor-destaque-unicamp);
  transition: 0.2s;
}

.ler-mais--unicamp a{
    color: var(--cor-principal-unicamp);
}
.ler-mais--unicamp a:hover{
  color: var(--cor-destaque-unicamp);
  text-decoration: underline;
}

.destaques--unicamp i{
    color: var(--cor-principal-unicamp);
}

/* INSCRICAO */

/* INFORMAÇÕES IMPORTANTES */
.icone-info--unicamp{
  background-color: var(--cor-principal-unicamp);
}

.infos-importantes--unicamp{
  background: #eee2fc;
  border-left: 6px solid var(--cor-principal-unicamp);
  color: var(--cor-destaque-unicamp);
}
.texto-infos-importantes--unicamp{
  color: var(--cor-destaque-unicamp);
}
.destaque-texto-infos-importantes--unicamp{
  color: var(--cor-destaque-unicamp);
}
.texto-infos-importantes--unicamp a{
  color: var(--cor-destaque-unicamp);
}

/* PASSO A PASSO */

.dot--unicamp{ 
  background-color: var(--cor-principal-unicamp); 
}

.card-info--unicamp{
  border: 1px solid var(--cor-principal-unicamp);
   background: #efe0ff;
}

.card-info--unicamp i{
  color: var(--cor-destaque-unicamp);
}
.texto-card-info--unicamp{
  color: var(--cor-destaque-unicamp);
}

/* COMO FUNCIONA O VESTIBULAR */
.titulo-prova--unicamp{
  color: var(--cor-principal-unicamp);
}

.curso i{
  color: var(--cor-principal-unicamp);
}

.aviso-provas{
  border: 1px solid var(--cor-principal-unicamp);
}
.titulo-aviso-provas{
  color: var(--cor-principal-unicamp);
}