/* Estilos padrões todas páginas*/
a{
  text-decoration: none;
}
.main-vestibulares{
    display: grid;
    grid-template-columns: 280px 1fr 350px; 
    align-items: start;
    padding: 40px 0;
    gap: 5%; 
}
p{
  color: var(--cor-texto-primaria);
  font-size: 22px;
  font-family: Inter;
  font-weight: 400;
}
#introducao p{
    font-weight: 500;
    word-wrap: break-word;
    margin-top: 30px;
    text-align: justify;
}
h1{
  color: var(--cor-titulo);
  font-size: 41px;
  font-family: Inter;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  line-height: 60px;
}
h2{
  color: var(--cor-titulo);
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
  padding-bottom: 15px;
}
h3{
  color: var(--cor-titulo);
  font-family: Gabarito;
  font-size: 1.25rem;
  font-weight: 600;
}

.conteudo{
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
    border-radius: 12px;
    border: 1px solid #E5E7EB; 
    background: var(--background);
    padding: 50px 100px;
    margin-bottom: 32px;
    gap: 20px;
}

.container-conteudo{
  display: flex;
  gap: 32px;
  padding: 40px 0;
}

.conteudo p{
  text-align: justify;
}

.titulo{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.titulo i{
  font-size: 45px;
  padding: 20px;
}

/* FIM estilos padrões todas páginas*/

/* PAINEL LATERAL ESQUERDO */
h4{
  color: var(--cor-titulo);
  font-size: 16px;
  font-family: Gabarito;
  font-weight: 600;
  padding-bottom: 5px;
}
.card p{
  color: var(--cor-texto-secundaria);
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
}

.painel-lateral {
  position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 0 0 320px;
  margin-right: 10%;
}

.painel-lateral .card{
  background: var(--background);
  border-radius: 12px;
  border: 1px solid #E5E7EB;
  padding: 24px 20px;
}

.titulo-card{
  font-family: Gabarito;
  color: var(--cor-titulo);
  font-size: 20px;
  display: flex;
  align-items: center;
}

.titulo-card i{
  padding-right: 10px;
}

.painel-lateral .card hr{
      border: none; 
      background: transparent; 
      margin: 1em 0; 
      height: 1px; 
      background-color: #cccccccc; 
}

.painel-lateral .card ul{
      list-style-type: none;
      color: var(--cor-texto-secundaria);
      font-family: Inter;
      font-size: 14px;
}
.painel-lateral .card ul li{
  padding: 20px;
  border-radius: 10px;
  transition: 0.2s;
}

.card ul li a{
  text-decoration: none;
  color: inherit;
}

.ler-mais{
  padding-top: 15px;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
}

/* FIM painel lateral esquerdo*/

.dot{
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  display: flex;
  justify-content: center; 
  align-items: center;
  color: #f8f8f8;
  font-family: Inter;
  font-size: 28px;
  font-weight: 800;
}

.destaques{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 30px 70px 30px;
}

.destaque-card{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background: #fff;
  border: 2px solid #E5E7EB;
  border-radius: 14px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
  padding: 28px 24px;
  gap: 24px;
}

.destaque-card i {
  font-size: 2.5rem;
}

.destaque-conteudo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.destaque-titulo{
  font-weight: 700;
}

.destaque-texto{
  margin: 0;
  font-size: 1rem;
  color: #6B7280;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.lista-caracteristicas{
  display: flex;
  flex-direction: column;
  color: var(--cor-texto-primaria);
  font-size: 22px;
  font-family: Inter;
  font-weight: 400;
  padding: 10px 25px;
  gap: 3px;
}

/* VARIAVEIS CSS */
:root{
  --background: #fff;
  --cor-titulo: #1F2937;
  --cor-texto-primaria: #2F3847;
  --cor-texto-secundaria: #434B59;
  --cor-texto-terciaria: #8B8B8B;
  --cor-borda: #E5E7EB;

}




.menu-lateral.fatec {
  --bg-color: #D65B5B;
  --hover-color: #a73a3ade;
  --text-color: #862929;
  --text-color: #703232;

}
.container-conteudo.fatec{
  --cor-titulo: #D65B5B;
}
.menu-lateral.fuvest {
  --bg-color: #E99117;
  --hover-color: #AB680B;
  --text-color: #6D4104;
}
.container-conteudo.fuvest{
  --cor-titulo: #E99117;
}

.menu-lateral.unicamp {
  --bg-color: #BE87E8;
  --hover-color: #8E3FCB;
  --text-color: #612D88;
}
.container-conteudo.unicamp{
  --cor-titulo: #BE87E8;
}

.menu-lateral.unesp {
  --bg-color: #EFC84A;
  --hover-color: #C19B1F;
  --text-color: #8B6F14;
}
.container-conteudo.unesp{
  --cor-titulo: #EFC84A;
}
