:root{
    --cor-principal-fuvest: #E99117;
    --cor-secundaria-fuvest: #F0C588;
    --cor-destaque-fuvest: #E27515;
}
.titulo--fuvest i{
    color: var(--cor-principal-fuvest);
}

.painel-lateral .card ul li:hover{
  background-color: #ffefd6;
  color: var(--cor-destaque-fuvest);
  transition: 0.2s;
}

.ler-mais--fuvest a{
    color: var(--cor-principal-fuvest);
}
.ler-mais--fuvest a:hover{
  color: var(--cor-destaque-fuvest);
  text-decoration: underline;
}

.destaques--fuvest i{
    color: var(--cor-principal-fuvest);
}


/* INSCRICAO */

/* INFORMAÇÕES IMPORTANTES */
.icone-info--fuvest{
  background-color: var(--cor-principal-fuvest);
}

.infos-importantes--fuvest{
  background: #ffefd6;
  border-left: 6px solid var(--cor-principal-fuvest);
  color: var(--cor-destaque-fuvest);
}
.texto-infos-importantes--fuvest{
  color: var(--cor-destaque-fuvest);
}
.destaque-texto-infos-importantes--fuvest{
  color: var(--cor-destaque-fuvest);
}
.texto-infos-importantes--fuvest a{
  color: var(--cor-destaque-fuvest);
}

/* PASSO A PASSO */

.dot--fuvest{ 
  background-color: var(--cor-principal-fuvest); 
}

.card-info--fuvest{
  border: 1px solid var(--cor-principal-fuvest);
   background: #ffe8bd;
}

.card-info--fuvest i{
  color: var(--cor-destaque-fuvest);
}
.texto-card-info--fuvest{
  color: var(--cor-destaque-fuvest);
}

/* COMO FUNCIONA O VESTIBULAR */
/* FORMATO DE PROVA */
.titulo-prova--fuvest{
  color: var(--cor-principal-fuvest);
}
/* SIMULADO */
.titulo-como-funciona{
  font-size: 1.3rem;
  font-weight: 600;
  padding: 20px 20px 0px 20px;
}
.lista-como-funciona{
  color: #5B5B5B;
  font-size: 1.2rem;
  font-family: Inter;
  padding: 20px;
  margin-left: 30px;
}
.item-lista-como-funciona{
  padding: 3px;
}

.curso i{
  color: var(--cor-principal-fuvest);
}

.aviso-provas{
  border: 1px solid var(--cor-principal-fuvest);
}
.titulo-aviso-provas{
  color: var(--cor-principal-fuvest);
}

/* OBRAS LITERARIAS */
.card-obras{
  border-radius: 10px;
  border: 1px solid rgba(65, 65, 65, 0.15);
}
.header-card-obras{
  display: flex;
  gap: 10px;
  padding: 30px 30px 10px 30px;
  align-items: end;
}
.lista-obras{
  color: #2F3847;
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 50px 20px 50px;
}
.titulo-obra{
  font-weight: 700;
}
.obra{
  padding: 10px;
}