:root{
    --cor-principal-provao: #0073E6;
    --cor-secundaria-provao: #b4d9ff;
    --cor-destaque-provao: #0066CC;
}
.titulo--provao i{
    color: var(--cor-principal-provao);
}

.painel-lateral .card ul li:hover{
  background-color: var(--cor-secundaria-provao);
  color: var(--cor-destaque-provao);
  transition: 0.2s;
}

.ler-mais--provao a{
    color: var(--cor-principal-provao);
}
.ler-mais--provao a:hover{
  color: var(--cor-destaque-provao);
  text-decoration: underline;
}

.destaques--provao i{
    color: var(--cor-principal-provao);
}

/* INSCRICAO */

/* INFORMAÇÕES IMPORTANTES */
.icone-info--provao{
  background-color: var(--cor-principal-provao);
}

.infos-importantes--provao{
  background: #d6e4ff;
  border-left: 6px solid var(--cor-principal-provao);
  color: var(--cor-destaque-provao);
}
.texto-infos-importantes--provao{
  color: var(--cor-destaque-provao);
}
.destaque-texto-infos-importantes--provao{
  color: var(--cor-destaque-provao);
}
.texto-infos-importantes--provao a{
  color: var(--cor-destaque-provao);
}

/* PASSO A PASSO */

.dot--provao{ 
  background-color: var(--cor-principal-provao); 
}

.card-info--provao{
  border: 1px solid var(--cor-principal-provao);
   background: #d6e4ff;
}

.card-info--provao i{
  color: var(--cor-destaque-provao);
}
.texto-card-info--provao{
  color: var(--cor-destaque-provao);
}