:root{
    --cor-principal-fatec: #D65B5B;
    --cor-secundaria-fatec: #F0D5D5;
    --cor-destaque-fatec: #EA4335;
}
.titulo--fatec i{
    color: var(--cor-principal-fatec);
}

.painel-lateral .card ul li:hover{
  background-color: var(--cor-secundaria-fatec);
  color: var(--cor-destaque-fatec);
  transition: 0.2s;
}

.ler-mais--fatec a{
    color: var(--cor-principal-fatec);
}
.ler-mais--fatec a:hover{
  color: var(--cor-destaque-fatec);
  text-decoration: underline;
}

.destaques--fatec i{
    color: var(--cor-principal-fatec);
}

/* INSCRICAO */

/* INFORMAÇÕES IMPORTANTES */
.icone-info--fatec{
  background-color: var(--cor-principal-fatec);
}

.infos-importantes--fatec{
  background: #ffe1e1;
  border-left: 6px solid var(--cor-principal-fatec);
  color: var(--cor-destaque-fatec);
}
.texto-infos-importantes--fatec{
  color: var(--cor-destaque-fatec);
}
.destaque-texto-infos-importantes--fatec{
  color: var(--cor-destaque-fatec);
}
.texto-infos-importantes--fatec a{
  color: var(--cor-destaque-fatec);
}

/* PASSO A PASSO */

.dot--fatec{ 
  background-color: var(--cor-principal-fatec); 
}

.card-info--fatec{
  border: 1px solid var(--cor-principal-fatec);
   background: #ffe1e1;
}

.card-info--fatec i{
  color: var(--cor-destaque-fatec);
}
.texto-card-info--fatec{
  color: var(--cor-destaque-fatec);
}

/* COMO FUNCIONA O VESTIBULAR */
.titulo-prova--fatec{
  color: var(--cor-principal-fatec);
}