:root{
    --cor-principal-fuvest: #E99117;
    --cor-secundaria-fuvest: #F0C588;
    --cor-destaque-fuvest: #E27515;
}
.titulo--fuvest i{
    color: var(--cor-principal-fuvest);
}

.painel-lateral .card ul li:hover{
  background-color: #ffefd6;
  color: var(--cor-destaque-fuvest);
  transition: 0.2s;
}

.ler-mais--fuvest a{
    color: var(--cor-principal-fuvest);
}
.ler-mais--fuvest a:hover{
  color: var(--cor-destaque-fuvest);
  text-decoration: underline;
}

.destaques--fuvest i{
    color: var(--cor-principal-fuvest);
}


/* INSCRICAO */

/* INFORMAÇÕES IMPORTANTES */
.icone-info--fuvest{
  background-color: var(--cor-principal-fuvest);
}

.infos-importantes--fuvest{
  background: #ffefd6;
  border-left: 6px solid var(--cor-principal-fuvest);
  color: var(--cor-destaque-fuvest);
}
.texto-infos-importantes--fuvest{
  color: var(--cor-destaque-fuvest);
}
.destaque-texto-infos-importantes--fuvest{
  color: var(--cor-destaque-fuvest);
}
.texto-infos-importantes--fuvest a{
  color: var(--cor-destaque-fuvest);
}

/* PASSO A PASSO */

.dot--fuvest{ 
  background-color: var(--cor-principal-fuvest); 
}

.card-info--fuvest{
  border: 1px solid var(--cor-principal-fuvest);
   background: #ffe8bd;
}

.card-info--fuvest i{
  color: var(--cor-destaque-fuvest);
}
.texto-card-info--fuvest{
  color: var(--cor-destaque-fuvest);
}