@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.regua {
    display: block;
    margin: 10px;
    width: 370px;
    height: 0.1px;
    background-color: #ffffff7e;
    margin-left: 21px;
}

.regua-2 {
    display: block;
    width: 120px;
    height: 0.1px;
    background-color: #ffffff70;
}

dialog{
    padding-top: 20px;
    justify-content: center;
    justify-items: center;
    width: 600px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #003366 0%, #0073E6 100%);;
}

#modal-cadastro{
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: hsla(0, 0.00%, 0.00%, 0.60); 
    justify-content: center; 
    align-items: center; 
    z-index: 1000;
}
#form-cad-user{
    padding-top: 20px;
    justify-content: center;
    justify-items: center;
    width: 600px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #003366 0%, #0073E6 100%);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.modal-title{
    font-size: 2.5em;
    color: #EFC84A;
    font-family: Gabarito;
}

.input{
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    
}  

.input input{
    height: 30px;
    width: 350px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 15px;
    outline: none;
}

.input i{
    color: #0000009a;
    font-size: 25px;
}

.close-modal{
    border: none;
    background-color: transparent;
}

.close-modal i{
    font-size: 36px;
    color: #EFC84A;
    cursor: pointer;
    
}

.btn-cadastrar{
    font-style: normal;
    width: 184px;
    height: 50px;
    padding: 10px 20px;
    background: #EFC84A; 
    border-radius: 20px;
    justify-content: center;
    display: flex; 
    flex-direction: column; 
    color: #033F7B; 
    font-size: 24px; 
    font-family: Gabarito; 
    font-weight: 400; 
    border: none;
    align-items: center;
    cursor: pointer;
}

.btn-cadastrar:hover{
    background-color: #033F7B;
    border: 1px solid #EFC84A;
    color: #EFC84A;
    transition: 0.7s;
}

.modal-ou{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.content-button{
    margin-top: 35px;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* isso centraliza os itens horizontalmente */
    gap: 10px;
}

.modal-ou label{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Gabarito;
    color: #ffffffa5;
}

.btn-google{
    background-color: #d9d9d9f3;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.816);
    font-family: gabarito;
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* espaço entre o ícone e o texto */
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
}

.btn-google:hover{
    background-color: #033F7B;
    border: 1px solid #EFC84A;
    color: #EFC84A;
    transition: 0.2s;
}

.modal-footer{
    margin-top: 30px;
}

.entrar a{
    text-decoration: none;
}

.entrar a:hover{
    text-decoration: underline;
    border-radius: 5px;
    color: #EFC84A;
    transition: 0.7s;
}


.entrar{
    justify-content: center;
    display: flex;
    font-family: gabarito;
    color: white;
    font-size: 23px;
    padding-bottom: 30px;
}

.entrar a{
    color: #EFC84A;
    margin-left: 5px;
} 

/* Checkbox mais elegante */
.checkbox-personalizado {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #FDBA12;
    border-radius: 6px;
    background: linear-gradient(145deg, #ffffff, #f0f0f0);
    cursor: pointer;
    position: relative;
    transition: 0.25s ease;
  }
  
  
  
  /* Check marcado */
  .checkbox-personalizado:checked {
    background: #EFC84A;
    border-color: #ffaf00;
  }
  
  /* Ícone do check */
  .checkbox-personalizado:checked::after {
    content: "✔";
    color: white;
    position: absolute;
    font-size: 15px;
    left: 3px;
    top: -1px;
    font-weight: bold;
    transition: 0.2s ease;
  }
  
  /* Caixa ao redor (label) */
  .input-checkbox {
    font-size: 20px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 14px;
  
    padding: 12px 5px;
    background: none;
    
    border-radius: 14px;
  
    font-family: gabarito, arial;
    color: #EFC84A;
  
    transition: 0.25s ease;
  }
  
  
  