:root{
    --cor-principal-provao: #0073E6;
    --cor-secundaria-provao: #b4d9ff;
    --cor-destaque-provao: #0066CC;
}
.titulo--provao i{
    color: var(--cor-principal-provao);
}

.painel-lateral .card ul li:hover{
  background-color: var(--cor-secundaria-provao);
  color: var(--cor-destaque-provao);
  transition: 0.2s;
}

.ler-mais--provao a{
    color: var(--cor-principal-provao);
}
.ler-mais--provao a:hover{
  color: var(--cor-destaque-provao);
  text-decoration: underline;
}

.destaques--provao i{
    color: var(--cor-principal-provao);
}

/* INSCRICAO */

/* INFORMAÇÕES IMPORTANTES */
.icone-info--provao{
  background-color: var(--cor-principal-provao);
}

.infos-importantes--provao{
  background: #d6e4ff;
  border-left: 6px solid var(--cor-principal-provao);
  color: var(--cor-destaque-provao);
}
.texto-infos-importantes--provao{
  color: var(--cor-destaque-provao);
}
.destaque-texto-infos-importantes--provao{
  color: var(--cor-destaque-provao);
}
.texto-infos-importantes--provao a{
  color: var(--cor-destaque-provao);
}

/* PASSO A PASSO */

.dot--provao{ 
  background-color: var(--cor-principal-provao); 
}

.card-info--provao{
  border: 1px solid var(--cor-principal-provao);
   background: #d6e4ff;
}

.card-info--provao i{
  color: var(--cor-destaque-provao);
}
.texto-card-info--provao{
  color: var(--cor-destaque-provao);
}

/* TIPOS DE INSCRICAO */
.area-cards-inscricao{
  display: flex;
  gap: 24px;
  align-items: stretch;
  flex-direction: row;
  margin-top: 50px;
}
.card-inscricao{
  display: flex;
  flex: 1 1 280px;
  flex-direction: column;
  border-radius: 13px;
  border: 1px solid var(--cor-principal-provao);
  background: #F8F8F8;
  box-shadow: 2px 2px 4px 0 rgba(157, 157, 157, 0.25);
}
.header-inscricao{
  border-radius: 10px 10px 0 0;
  background: var(--cor-principal-provao);
  padding: 10px;
}
.tipo-inscricao{
  color: #FFF;
  text-align: center !important;
  font-size: 2.5rem;
  font-weight: 700;
}
.texto-inscricao{
  text-align: center !important;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px;
}
.lista-inscricao{
  color: #2F3847;
  font-family: Inter;
  font-size: 1em;
  font-weight: 600;
  padding: 0px 40px 20px 40px;
  margin-left: 10px;
}
.item-lista-inscricao{
  padding: 5px;
}